altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==2.1.1
idna==3.4
macholib==1.16.2
modulegraph==0.19.3
pathlib==1.0.1
py2app==0.28.4
pyobjc-core==8.5.1
pyobjc-framework-Cocoa==8.5.1
requests==2.28.1
rumps==0.4.0
urllib3==1.26.12
